
<div class="row">
    <div class="col-6">
    Grafica
    <app-dona title='ventas'></app-dona>
    </div>

    <div class="col-6">
        <app-dona  title='chuisss'
                  [labels]="labels1"
                  [data]="data1"       
        ></app-dona>

                <!-- 
              -->
        </div>

    <div class="col-6">
           Grafica
           <app-dona  title='chuis1'></app-dona>
    </div>


    <div class="col-6">
        Grafica
        <app-dona  title='chuis2'></app-dona>
        </div>



</div>-